.welcome {
    margin-top: 60px;
}

.home-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 23px;
    gap: 40px;
    background-color: #F3ECED;
    padding: 30px 60px;
}

.home-flex-left {
    max-width: 295px;
    text-align: justify;
}